        <div class="post-head">
            <h1>
            <a href="{{ url_for('main.index')+post.permalink}}">{{ post.title }}</a>
            </h1>
            <p>
                <!--文章创建时间-->
                <span class="glyphicon glyphicon-calendar"></span>
                <span>{{ moment(post.timestamp).format('YYYY/MM/DD') }}&nbsp;&nbsp;</span>

                <span class="glyphicon glyphicon-tag"></span>
                <span><a href="{{ url_for('main.index', name=post.tag.name) }}">{{ post.tag.name }}&nbsp;&nbsp;</a></span>

                <span class="glyphicon glyphicon-comment"></span>
                <a href="{{ url_for('main.post', permalink=post.permalink) }}#comments">
                    <span class="ds-thread-count" data-thread-key="{{ post.permalink }}" data-count-type="comments"></span>
                    {{ post.comments.count() }}评论&nbsp;&nbsp;
                </a>

                {% if current_user.is_administrator() %}
                <span class="glyphicon glyphicon-trash"></span>
                <a href="{{ url_for('main.del_post', permalink=post.permalink) }}">
                    <span>删除&nbsp;&nbsp;</span>
                </a>
                <span class="glyphicon glyphicon-edit"></span>
                <a href="{{ url_for('main.edit', permalink=post.permalink) }}">
                    <span>编辑</span>
                </a>
                {% endif %}
            </p>
        </div>