<div class="post-summary">
        {% include '_posthead.html' %}
        <div class="post-body">
            {% set sammary = post.get_sammary%}
            {% if post.sammary %}
                {{ post.sammary | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </div>

    <div class="post-footer">
    <a href="{{ url_for('.post', permalink=post.permalink) }}">
        <button type="button" class="btn btn-default">阅读全文</button>
    </a>
    </div>
</div>