<section class="post" itemscope itemprop="blogitem">

    <a href="{{ url_for('main.index')+'post/'+post.permalink}}" class="summary" title="{{ post.title }}" itemprop="url">
  
    <h1 itemprop="name">{{ post.title }}</h1>    
        <!--</p>-->
  </a>
      
        <!--<p itemprop="description" >-->
        {% set summary = post.get_summary() %}
        {% if summary %}
            {{summary | safe}}

        {% endif %}
        <time datetime="{{post.get_date()}}" itemprop="datePublished">{{post.get_date()}}</time>
        
</section>